In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
df=pd.read_csv('homeprice.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [18]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [19]:
df['bedrooms'] = df['bedrooms'].fillna(np.mean(df.bedrooms))

In [20]:
df.head()

   area  bedrooms  age   price
0  2600      3.00   20  550000
1  3000      4.00   15  565000
2  3200      3.75   18  610000
3  3600      3.00   30  595000
4  4000      5.00    8  760000

In [21]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [22]:
#x=df['price'].drop(columns=1,inplace=True)
X=df[['area','bedrooms','age']]#,inplace=True)

In [23]:
X

   area  bedrooms  age
0  2600      3.00   20
1  3000      4.00   15
2  3200      3.75   18
3  3600      3.00   30
4  4000      5.00    8

In [24]:
Y=df[['price']]
Y

    price
0  550000
1  565000
2  610000
3  595000
4  760000

In [25]:
model.fit(X,Y)

LinearRegression()

In [26]:
model.predict([[2600,3,30]])

D:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[366203.74270413]])

In [27]:
import pickle

#open a file, where you want to store the data
file=open('Linear_regression_model.pkl','wb')

#dump informtion to that file
pickle.dump(model,file)

In [28]:
model.predict([[2300,3,23]])

D:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[426904.82279319]])